<div class="container-fluid">
    <div class="row" *ngIf="dataAvailable">
        <div class="col-md-8">
            <nz-card>
                <div class="d-flex justify-content-between">
                    <div class="media align-items-center">
                        <nz-avatar nzShape="square" nzSrc="assets/images/others/thumb-3.jpg"></nz-avatar>
                        <div class="m-l-10">
                            <h4 class="m-b-0">{{journalDetails.journalName}}</h4>
                        </div>
                    </div>
                    <div>
                        <nz-tag class="m-b-0" [nzColor]="'blue'">{{journalDetails.journalStatus}}</nz-tag>
                    </div>
                </div>
                <div class="m-t-40">
                    <h6>Description:</h6>
                    <p [innerHtml] = "journalDetails.aboutJournal"></p>
                </div>
                <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                    <div class="d-flex align-items-center m-t-10">
                        <span class="text-dark font-weight-semibold m-r-10 m-b-5">Team: </span>
                        <a class="m-r-5 m-b-5" *ngFor="let item of memberList">
                            <nz-avatar [nzSize]="30" [nzSrc]="item.avatar" nz-tooltip [nzTitle]="item.name"></nz-avatar>
                        </a>
                    </div>
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Due Date: </span>
                        <span>10 Feb 2019</span>
                    </div>
                </div>
                <div class="off-gutter-x m-t-30">
                    <nz-tabset>
                        <nz-tab nzTitle="Tasks (8)">
                            <div class="p-h-30 p-v-25">
                                <div class="m-b-25" *ngFor="let item of taskList">
                                    <label class="d-flex align-items-center" nz-checkbox [(ngModel)]="item.checked">
                                        <p class="m-b-0 d-inline-block">{{item.task}} </p>
                                    </label>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Comments">
                            <div class="p-h-30 p-v-25">
                                <nz-list [nzDataSource]="commentList" [nzRenderItem]="review" [nzItemLayout]="'vertical'" [nzPagination]="pagination">
                                    <ng-template #review let-item>
                                        <nz-list-item [nzContent]="item.review">
                                            <nz-list-item-meta
                                                [nzTitle]="reviewTitle"
                                                [nzAvatar]="item.img"
                                                [nzDescription]="item.date">
                                                <ng-template #reviewTitle>
                                                    <a class="font-size-15" href="">{{item.name}}</a>
                                                </ng-template>
                                            </nz-list-item-meta>
                                        </nz-list-item>
                                    </ng-template>
                                    <ng-template #pagination>
                                        <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
                                    </ng-template>
                                </nz-list>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Attachment">
                            <div class="p-h-30 p-v-25">
                                <a class="file p-15" *ngFor="let item of fileList" style="min-width: 200px">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media">
                                            <nz-avatar *ngIf="item.type == 'zip'" nzShape="square" nzIcon="file-exclamation" class="ant-avatar-cyan font-size-20"></nz-avatar>
                                            <nz-avatar *ngIf="item.type == 'doc'" nzShape="square" nzIcon="file-word" class="ant-avatar-blue font-size-20"></nz-avatar>
                                            <nz-avatar *ngIf="item.type == 'image'" nzShape="square" nzIcon="picture" class="ant-avatar-gold font-size-20"></nz-avatar>
                                            <div class="m-l-10">
                                                <h6 class="m-b-0">{{item.name}}</h6>
                                                <span class="text-muted font-size-13">{{item.size}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </nz-card>
        </div>
        <div class="col-md-4">
            <nz-card [nzTitle]="EditorialBoardMembers">

                    <ng-template #EditorialBoardMembers>
                            <div>EB Members <a (click)="getRegionsList(); isVisibleEbmember = true" class="float-right" href="Javascript:Void(0)"><i nz-icon nzType="plus-circle" nzTheme="outline"></i> Add EBMebmer</a> </div>
                    </ng-template>


                    <nz-modal [(nzVisible)]="isVisibleEbmember" (nzOnCancel)="handleCancelEbmmeber()"
                    [nzFooter]="modalFooterEbmember" nzTitle="Add/Edit EBMebmer">
                        <form nz-form [formGroup]="ebmemberForm">
                                <nz-form-item>
                                        <nz-form-label nzFor="editorId">Editor ID</nz-form-label>
                                        <nz-form-control>
                                            <input formControlName="editorId" [disabled]="editmode" 
                                            (keypress)="validateEditorId($event)"
                                            nz-input type="text" placeholder="editorId">
                                            <nz-form-explain *ngIf="ebmemberForm.get('editorId').dirty && ebmemberForm.get('editorId').errors">
                                                Please input Editor ID!</nz-form-explain>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                            <nz-form-label nzFor="editorName">Editor Name</nz-form-label>
                                            <nz-form-control>
                                                <input formControlName="editorName" nz-input type="text" placeholder="Editor Name">
                                                <nz-form-explain *ngIf="ebmemberForm.get('editorName').dirty && ebmemberForm.get('editorName').errors">
                                                    Please input Editor Name!</nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                                <nz-form-label nzFor="editorType">Editor Type</nz-form-label>
                                                <nz-form-control>
                                                    <input formControlName="editorType" nz-input type="text" placeholder="Editor type">
                                                    <nz-form-explain *ngIf="ebmemberForm.get('editorType').dirty && ebmemberForm.get('editorType').errors">
                                                        Please input Editor Type!</nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>
                                            <nz-form-item>
                                                    <nz-form-label nzFor="editorDescription">Editor Description</nz-form-label>
                                                    <nz-form-control>
                                                        <input formControlName="editorDescription" nz-input type="text" placeholder="Editor Description">
                                                        <nz-form-explain *ngIf="ebmemberForm.get('editorDescription').dirty && ebmemberForm.get('editorDescription').errors">
                                                            Please input Editor Description!</nz-form-explain>
                                                    </nz-form-control>
                                                </nz-form-item>
                                                <nz-form-item>
                                                        <nz-form-label nzFor="biography">Biography</nz-form-label>
                                                        <nz-form-control>
                                                            <input formControlName="biography" nz-input type="text" placeholder="biography">
                                                            <nz-form-explain *ngIf="ebmemberForm.get('biography').dirty && ebmemberForm.get('biography').errors">
                                                                Please input biography!</nz-form-explain>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                <nz-form-item>
                                                        <nz-form-label nzFor="interests">Interests</nz-form-label>
                                                        <nz-form-control>
                                                            <input formControlName="interests" nz-input type="text" placeholder="Interests">
                                                            <nz-form-explain *ngIf="ebmemberForm.get('interests').dirty && ebmemberForm.get('interests').errors">
                                                                Please input Interests !</nz-form-explain>
                                                        </nz-form-control>
                                                    </nz-form-item>
                                                    <nz-form-item>
                                                            <nz-form-label nzFor="universityName">University Name</nz-form-label>
                                                            <nz-form-control>
                                                                <input formControlName="universityName" nz-input type="text" placeholder="University Name">
                                                                <nz-form-explain *ngIf="ebmemberForm.get('universityName').dirty && ebmemberForm.get('universityName').errors">
                                                                    Please input University Name!</nz-form-explain>
                                                            </nz-form-control>
                                                        </nz-form-item>   
                                   
                                        
                                <nz-form-item>
                                        <nz-form-label nzRequired nzFor="region">Region</nz-form-label>
                                        <nz-form-control>
                                            <nz-input-group>
                                                <nz-select style="width: 100%;" formControlName="region"
                                                nzPlaceHolder="Select Region" (focusout)="getCountriesList()">
                                                    <nz-option *ngFor="let region of listofregions"
                                                        [nzLabel]="region.name" [nzValue]="region.code"></nz-option>
                                                </nz-select>
                                            </nz-input-group>
                                            <nz-form-explain
                                                *ngIf="ebmemberForm.get('region').dirty && ebmemberForm.get('region').errors">
                                                Please select your region!</nz-form-explain>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzFor="country">Country</nz-form-label>
                                        <nz-form-control>
                                            <nz-input-group>
                                                <nz-select style="width: 100%;" formControlName="country"
                                                nzPlaceHolder="Select Country">
                                                    <nz-option *ngFor="let country of listofcountries"
                                                        [nzLabel]="country" [nzValue]="country"></nz-option>
                                                </nz-select>
                                            </nz-input-group>
                                            <nz-form-explain
                                                *ngIf="ebmemberForm.get('country').dirty && ebmemberForm.get('country').errors">
                                                Please select your country!</nz-form-explain>
                                        </nz-form-control>
                                    </nz-form-item>
                                     <nz-form-item>
                                        <nz-form-label nzFor="journalShortName">Journal ShortName</nz-form-label>
                                        <nz-form-control>
                                            <input disabled formControlName="journalShortName" nz-input type="text" placeholder="Journal ShortName">
                                        </nz-form-control>      
                                        </nz-form-item>             
                        </form>
                          <ng-template #modalFooterEbmember>
                            <button nz-button nzType="default" (click)="handleCancelEbmmeber()">Cancel</button>
                            <button [nzLoading]="isLoadingEbmember" nz-button nzType="primary" [disabled]="!ebmemberForm.valid || invalidId" (click)="addEbmember()">Add</button>
                          </ng-template>
                      </nz-modal>


                <nz-timeline *ngFor="let item of eblist">
                         <div class="m-l-20">
                            <div class="row">
                                <div class="col-md-12">
                                        <h6 class="m-b-0">{{item.editorName}} <a style="float: right"  class="text-gray font-size-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="ebOptions">
                                                <i nz-icon type="ellipsis" theme="outline"></i>
                                            </a></h6>
                                            <span class="text-muted font-size-13">
                                                <i nz-icon type="clock-circle" theme="outline"></i>
                                                <span class="m-l-5">{{item.editorType}}</span>
                                            </span>
                                            <br>
                                            <span class="text-muted font-size-13">
                                                    <i nz-icon type="clock-circle" theme="outline"></i>
                                                    <span class="m-l-5">{{item.universityName}}</span>
                                            </span>
                                </div>
                                
                               
                                
                                    <nz-dropdown-menu #ebOptions="nzDropdownMenu">
                                        <ul nz-menu nzSelectable>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/apps/projects/project-details']">
                                                    <i nz-icon type="eye" theme="outline"></i>
                                                    <span class="m-l-10">View</span>
                                                </a>
                                            </li>
                                            <li nz-menu-divider></li>
                                            <li nz-menu-item (click)="getRegionsList();editEbMember(item); editmode = true;">
                                                <a href="javascript:void(0)">
                                                    <i nz-icon type="edit" theme="outline"></i>
                                                    <span class="m-l-10">Edit</span>
                                                </a>
                                            </li>
                                            <li nz-menu-divider></li>
                                            <li nz-menu-item  nz-popconfirm nzPopoverTrigger="click"  nzTitle="Are you sure delete this user?" (nzOnConfirm)="deleteEbMemeber(item.editorId);" (nzOnCancel)="cancel()">
                                                <a>
                                                    <i nz-icon type="delete" theme="outline"></i>
                                                    <span class="m-l-10">Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                            
                            </div>
                             <hr class="mt-2 mb-2">
                        </div>
                        
                 </nz-timeline>
            </nz-card>
            <nz-card *ngIf="!dataAvailable">
                    <nz-skeleton [nzActive]="true"></nz-skeleton>
            </nz-card>
        </div>
    </div>
</div>